html {
    box-sizing: border-box;
}


body {
    margin: 0;
}

/* seletor de elemento, usado para fazer com que o campo de pesquisa da pagina web, fique com a cor azul, e seus elementos descemdemtes. com tamanho de fonte de 22px */
nav {
    background-color: rgb(38, 0, 255);
    font-size: 22px;
}


header {
    color: white;
    margin-top: 14px;
}

/* seletor de elementos, no qual faz com que uma lista não ordenada, passe a não ter mais a sua decoração padrão de seus itens */
ul {
    list-style-type: none;
}


li {
    float: left;
    margin-inline: 100px;
}


li a {
    color: white;
    text-decoration: none;
}


.fonte{
    font-size: 26px;
}

/* seletor de classe, utilizado para inserir certos elementos html em uma organização de colunas e linhas */
.container {
    display: grid;
}


.box1 {
  justify-content: center;
  margin-top: 20px;
}


.box2 {
    justify-content: center;
}


.centraliza {
    display: grid; 
    justify-content: center;
}